 
  /* Base styles for the container */
  .photo-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  /* Photo card container with responsive widths */
  .photo-card {
    width: 100%;
    height: 500px;
    gap: 10px /* Default to full width */
  }
  .gallery-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .card-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.375rem; /* rounded-md */
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3); /* shadow-[4px_4px_5px_rgb(0,0,0,0.3)] */
  }
  
  .card-image-wrapper {
    position: relative;
    height: 100%;
    filter: blur(4px);
    background-color: #e5e7eb;
    transition: filter 0.3s ease-out;
  }
  
  .card-image-wrapper.loaded {
    background-color: transparent;
    filter: none;
  }
  
  .card-image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .card-image-wrapper img.loaded {
    opacity: 1;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .card-container:hover .overlay {
    opacity: 1;
  }
  
  .title {
    font-weight: 700; /* font-bold */
    text-align: center;
  }
  
  .divider {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: 2.5px;
    width: 55%;
    border-top: none;
    background-color: #f7fafc; /* bg-neutral-100 */
  }
  
  .divider.dark {
    background-color: white; /* dark:bg-white */
  }
  
  .photographer {
    font-style: italic;
  }
  
  .favorite-btn {
    font-weight: 500; /* font-medium */
    margin-top: 0.75rem;
    padding: 0.5rem 3rem;
    border-radius: 9999px; /* rounded-full */
    cursor: pointer;
    border: rgba(255, 255, 255, 0.6);
    background-color: transparent;
  }
  
  .favorite-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* hover:bg-white/20 */
  }
  
  

  body {
    background-color: #e7e7e7;
  }
  @media (min-width: 350px) {
    .photo-card {
      width: 100%;
      height: 500px;
      margin: 10px /* Full width for medium screens */
    }
    .favorite-btn {
      font-size: 30px;
    }
    .text-photographer {
      font-size: 28px;
    }
    .text-title {
      font-size: 30px;
    }
    .filler {
      height: 40px;
    }
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25rem; 
    padding-bottom: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: white;
    align-items: center;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 2.5rem;
  }
  .links-wrapper {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  .link {
    font-size: 18px; 
    font-weight: 600;    
    cursor: pointer;
  }

  .link:hover {
    color: #2d3748;
  }


  @media (min-width: 796px) {
    .photo-card {
      width: 350px;
      height: 250px;
      margin: 10px /* Full width for medium screens */
    }
    .favorite-btn {
      font-size: 19px;
    }
    .text-photographer {
      font-size: 17px;
    }
    .text-title {
      font-size: 19px;
    }
    .filler {
      height: 30px;
    }
  }
  
  
  /* Medium screen (md) */
  @media (min-width: 920px) {
    .photo-card {
      width: 400px;
      height: 300px;
      margin: 12px 
    }
    .favorite-btn {
      font-size: 22px;
    }
    .text-photographer {
      font-size: 20px;
    }
    .text-title {
      font-size: 22px;
    }
    .filler {
      height: 30px;
    }
  }
  
  /* Large screen (lg) */
  @media (min-width: 1096px) {
    .photo-card {
      width: 500px; /* Full width for large screens */
      height: 400px; /* Set height for large screens */
      margin: 10px
    }
    .favorite-btn {
      font-size: 24px;
    }
    .text-photographer {
      font-size: 22px;
    }
    .text-title {
      font-size: 24px;
    }
    .filler {
      height: 40px;
    }
  }
  
  /* Extra Large screen (xl) */
  @media (min-width: 1337px) {
    .photo-card {
      width: 400px; /* Set width for xl screens */
      height: 300px; /* Set height for xl screens */
      margin: 15px
    }
    .favorite-btn {
      font-size: 22px;
    }
    .text-photographer {
      font-size: 20px;
    }
    .text-title {
      font-size: 22px;
    }
    .filler {
      height: 40px;
    }
  }
  
  /* 2X Large screen (2xl) */
  @media (min-width: 1657px) {
    .photo-card {
      width: 400px; /* Set width for 2xl screens */
      height: 300px; /* Set height for 2xl screens */
      margin: 20px

    }
    .favorite-btn {
      font-size: 22px;
    }
    .text-photographer {
      font-size: 20px;
    }
    .text-title {
      font-size: 22px;
    }
    .filler {
      height: 40px;
    }
  }
  
  /* Very Large screen (3xl) - 2000px and above */
  @media (min-width: 2088px) {
    .photo-card {
      width: 500px; /* Set width for 3xl screens */
      height: 400px; 
      margin: 15px/* Set height for 3xl screens */
    }
    .favorite-btn {
      font-size: 24px;
    }
    .text-photographer {
      font-size: 22px;
    }
    .text-title {
      font-size: 24px;
    }
    .filler {
      height: 50px;
    }
  }


  